<% if signed_in? %>
  <div class="row">

    <aside class="span4">
      <section><%= render 'shared/user_info' %></section>
      <section><%= render 'shared/stats' %></section>
      <section><%= render 'shared/squawk_form' %></section>
    </aside>

    <div class="span8">
      <h3>Squawks</h3>
      <%= render 'shared/feed' %>
    </div>

  </div>

<% else %>

  <div class="center hero-unit">
    <h1>Squawker</h1>
    <h2>Twitter, for angry people.</h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

<% end %>


