<%= provide :title, @user.name %>

<div class="row">

  <aside class="span4">
    <section>
      <span class="show-gravatar">
        <%= gravatar_for @user %>
      </span>
      <h1>
        <div class="show-name">
          <%= @user.name %>
        </div>
        <div class="show-admin">
          <%= @user.admin? ? "(Administrator)" : "" %>
        </div>
      </h1>
    </section>

    <section>
      <%= render 'shared/stats' %>
      <%= render 'follow_form' if signed_in? %>
    </section>
  </aside>

  <div class="span8">
    <% if @user.squawks.any? %>
    <h3>your squawks (<%= @user.squawks.count %>)</h3>
    <ol class="squawks">
      <%= render @squawks %>
    </ol>

    <div class="paginate">
      <%= will_paginate @squawks %>
    </div>

    <% end %>
  </div>

</div>