= provide :title, user.name
.row
  %aside.span4
    %section
      .sidebar-gravatar
        = avatar_for user
      %h1.sidebar-name
        = user.name
      %h2.sidebar-admin
        = user.admin? ? "(Administrator)" : ""
    %section
      = render partial: "shared/stats", locals: { user: user }
      = render partial: "follow_form", locals: { user: user } if signed_in?
  .span8
    %h3= "squawks (#{user.squawks.count})"
    %ul.squawks
    .back-to-top
      %a{onClick: "scrollManager.scrollToTop()"} back to top

:javascript
  let endpoint = "/users/#{user.username}/feed"
  let scrollManager = new ScrollManager({ window: window })
  let feedFetcher = new FeedFetcher({ endpoint: endpoint })
  let feedPresenter = new FeedPresenter({
    document: document,
    fetcher: feedFetcher,
    listClass: "squawks"
  })

  window.document.onreadystatechange = () => {
    feedFetcher.fetchNextPage(e => feedPresenter.displayResults(e))
  }

  window.document.addEventListener("scroll", (e) => {
    if (scrollManager.scrollIsAtBottom({ offset: 200 })) {
      feedFetcher.fetchNextPage(e => feedPresenter.displayResults(e))
    }
  })
