<%= provide :title, @user.name %>

<div class="row">

  <aside class="span4">
    <section>
      <div class="sidebar-gravatar">
        <%= avatar_for @user %>
      </div>
      <h1 class="sidebar-name">
          <%= @user.name %>
      </h1>
      <h2 class="sidebar-admin">
        <%= @user.admin? ? "(Administrator)" : "" %>
      </h2>
    </section>

    <section>
      <%= render 'shared/stats' %>
      <%= render 'follow_form' if signed_in? %>
    </section>
  </aside>

  <div class="span8">
    <% if @user.squawks.any? %>
    <h3>squawks (<%= @user.squawks.count %>)</h3>
    <ol class="squawks">
      <%= render @squawks %>
    </ol>

    <div class="paginate">
      <%= will_paginate @squawks, page_links: false %>
    </div>

    <% end %>
  </div>

</div>