<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <div class="sidebar-gravatar">
        <%= avatar_for @user %>
      </div>
      <h1 class="sidebar-name"><%= @user.name %></h1>
      <div class="sidebar-profile-link">
        <%= link_to "view my profile", @user %>
      </div>
      <div class="sidebar-squawks">
        <% squawks = @user.squawks.count %>
        <%= squawks %> <%= "squawk".pluralize(squawks) %>
      </div>
    </section>
    <section>
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div id="follower_avatars">
          <% @users.each do |user| %>
            <%= link_to avatar_for(user), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users" id="follower_listing">
        <%= render @users %>
      </ul>

      <div class="paginate">
        <%= will_paginate @users, page_links: false %>
      </div>

    <% end %>
  </div>
</div>