= provide :title, user.name
.row
  %aside.span4
    %section
      .sidebar-gravatar
        = avatar_for user
      %h1.sidebar-name
        = user.name
      %h2.sidebar-admin
        = user.admin? ? "(Administrator)" : ""
    %section
      = render partial: "shared/stats",
               locals: { user: user }
      = render partial: "follow_form",
               locals: { user: user } if signed_in?
  .span8
    %h3= "squawks (#{user.squawks.count})"
    %ul#js-squawk-list.squawks
    #js-back-to-top.back-to-top
      %a{onClick: "scrollManager.scrollToTop()"} back to top

:javascript
  let endpoint = "/users/#{user.username}/feed"
  let scrollManager = new ScrollManager({ window: window })
  let feedFetcher = new FeedFetcher({ endpoint: endpoint })

  feedFetcher.fetchInitialPages({ scrollManager: scrollManager })

  window.document.addEventListener("scroll", () => {
    if (!scrollManager.isAtBottom()) { return }
    feedFetcher.fetchNextPage()
  })
