= provide :title, @user.name
.row
  %aside.span4
    %section
      .sidebar-gravatar
        = avatar_for @user
      %h1.sidebar-name
        = @user.name
      %h2.sidebar-admin
        = @user.admin? ? "(Administrator)" : ""
    %section
      = render "shared/stats"
      = render "follow_form" if signed_in?
  .span8
    - if @user.squawks.any?
      %h3
        = "squawks (#{@user.squawks.count})"
      %ol.squawks
        - cache(cache_key_for_collection(@squawks, @user)) do
          - @squawks.each do |squawk|
            - cache(squawk) do
              = render squawk
      .paginate
        = will_paginate @squawks, page_links: false
