%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "squawker", root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          - if signed_in?
            %li= render "shared/search_form"
            %li#fat-menu.dropdown.user-account
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = avatar_for(current_user, class: "nav-avatar")
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Profile", current_user
                %li= link_to "Settings", edit_user_path(current_user)
                %li.divider
                %li
                  = link_to "Sign Out", signout_path, method: "delete"
          - else
            %li.signin-link= link_to "Sign In", signin_path
