%li.group{ id: squawk.id }
  .squawk-gravatar
    = link_to(avatar_for(squawk.user, size: 73), squawk.user)
  .squawk-content
    %span.user
      = link_to(squawk.user.name, squawk.user)
    %span.timestamp
      = time_ago_in_words(squawk.created_at)
      ago
    %span.text
      = formatted squawk.content
    .item-controls
      - if current_user.likes?(squawk)
        = link_to "", squawk_likes_path(squawk),
                  method: :delete,
                  remote: true,
                  title: "Unlike this",
                  class: "like-item active"
      - else
        = link_to "", squawk_likes_path(squawk),
                  method: :post,
                  remote: true,
                  title: "Like this",
                  class: "like-item"

      = link_to "", "",
                title: "Flag this",
                class: "flag-item"

      - if current_user?(squawk.user)
        = link_to "", squawk_path(squawk),
                  method: :delete,
                  remote: true,
                  title: "Delete this",
                  class: "delete-item"
